
<%= bootstrap_form_for @user do |f| %>
  <div class="orange modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="text-white modal-title" id="myModalLabel2">SignUp</h4>
  </div>
  <div class="red text-white-stay modal-body">
    <%= f.text_field :email %>
    <%= f.text_field :name %>
    <%= f.password_field :password %>
    </div>
  <div class="orange modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <%= f.primary "Join Now" %>
  </div>
<% end %>



