<div class="col-sm-8 transparent nav-margin table-responsive">
  <table class="table table-striped table-change">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="table-glow ">
          <%= bootstrap_form_for [post, Vote.new] do |f| %>
          <%= f.button "", value: 'up', class: 'btn btn-primary btn-xs glyphicon glyphicon-chevron-up' %>
          <%= f.button "", value: 'down', class: 'btn btn-primary btn-xs glyphicon glyphicon-chevron-down' %>
          <% end %>
          </td>

          <td class="btn btn-default active disabled"><%= post.votes.reduce(0){ |sum,v| sum + v.value} %></td>


          <td>
            <a href="<%= post.link %>"><%= post.title %></a><p>*<%= post.link %>*</p>
          </td>
          <td><%= post.user.display_name %></td>
          <td><%= format_creation_time post %></td>
          <!-- <td>0 Comments</td> -->
          <td>
          <!--% if @current_user && @current_user.id == post.user.id %-->
          <% if post.owned_by? @current_user %>
            <%= link_to "", edit_post_path(post), class: 'glyphicon glyphicon-pencil', :data=> {toggle:"modal", target:"#myModal"} %>
            <%= link_to "", post, method:'delete', class: 'glyphicon glyphicon-trash' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-4 pull-center text-white-stay">Sponsor:
  <div class="advertisement coke-zero">
    <div><a class="pull-right btn btn-primary">Get Link-a-rater premium<br>and get rid of ads!<br>€299.99<a>

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class=" modal-dialog" role="document">
    <div class="red modal-content">

    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class=" modal-dialog" role="document">
    <div class="red modal-content">

    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class=" modal-dialog" role="document">
    <div class="red modal-content">

    </div>
  </div>
</div>