<div class="col-sm-8">
  <table class="table table-striped">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to "", "#", class: 'glyphicon glyphicon-chevron-up' %><br>
            <%= link_to "", "#", class: 'glyphicon glyphicon-chevron-down' %>
          </td>
          <td>
            <a href="<%= post.link %>"><%= post.title %></a>
          </td>
          <td><%= post.user.display_name %></td>
          <td><%= format_creation_time post %></td>
          <td>0 Comments</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>